/**
 * Created by 32921 on 16-8-16.
*/
html,body{
    margin:0;
    padding:0;
    height:100%;
    font-family:"Microsoft Yahei", Arial, sans-serif;
}
ul,ol,dl{
    list-style:none;
}
p,ul,ol,dl,dd{
    margin:0;
    padding:0;
}
.liveindex {
    width: 100%;
    height: 100%;
    display: -webkit-box;
    display: -webkit-flex;
    display: flex;
    flex-direction: column;
    -webkit-box-orient: vertical;
    -moz-box-orient: vertical;
    box-orient: vertical;
    display: none;
}
.load {
    width:100%;
    font-size:24px;
    text-align:center;
    padding-top:2rem;
    vertical-align: middle;
    color: #666;
}
.load .img{
    overflow: hidden;
    height: 30px;
    width: 30px;
    display: inline-block;
    vertical-align: middle;
    -webkit-mask-size: 30px 30px;
    -webkit-animation-name: rotate;
    -webkit-animation-duration: 1.5s;
    -webkit-animation-iteration-count: infinite;
    -webkit-animation-timing-function: linear;
}
.load img {
    width: 100%;
    height: 100%;
}
/*导航tab*/
.nav{
    height:.98rem;
}
.navtopline{
    height:.2rem;
    background:#efeff4;
    border-bottom:1px solid #d5d4d9;
}
.navtab{
    height:.66rem;
    display:-webkit-box;
    display:-webkit-flex;
    display:flex;
    -webkit-box-orient:horizontal;
    -moz-box-orient:horizontal;
    box-orient:horizontal;
    flex-direction:row;
    border-bottom:1px solid #f29c24;
}
.navlink{
    flex:1;
    -webkit-box-flex:1;
    -moz-box-flex:1;
    -ms-flex:1;
    height:.76rem;
    line-height:.76rem;
    text-align:center;
    color:#9d9da6;
    font-size:26px;
}
.navlinkon{
    color:#e88f21;
    background:url("../img/live_tab_choosed@2x.png") no-repeat center .63rem;
}
.py-load{
    background: url("../img/loading.gif") no-repeat center #000;
    background-size: 60px;
    position:absolute;
    top:100px;
    width:100%;
    height: 3.6rem;
    z-index: 101;
    color: #4c4c4c;
    text-align: center;
    display:none;
}

.py-load .nobg{
    background: #000;
    color: #ccc;
    font-size:1rem;
}
header{
    height:100px;
    width:100%;
    font-size:23px;
}
.ins-wp{
    float:left;
    height:100px;
    width:100%;

}
.ins-text{
    float:left;
    height:100px;
    line-height:100px;
    font-size:23px;
    color:#222;
}
.ins-icon{
    float:left;
    display:block;
    height:70px;
    width:70px;
    margin:15px;
}
.ins-btn{
    float:right;
    width:106px;
    height:53px;
    font-size:26px;
    color:#fff;
    border:0;
    background:url("../img/button_install.png") no-repeat center;
    background-size:100%;
    margin:23px 23px 0 0;
}
/*video标签及父级元素*/
.videobox{
    width:100%;
    height:3.6rem;
    background:gray;
}
video{
    width:100%;
    height:3.6rem;
    background:transparent url('../img/live_banner_default.jpg') 50% 50% no-repeat;
    -webkit-background-size:cover;
    -moz-background-size:cover;
    -o-background-size:cover;
    background-size:cover;
}
/*视频详情*/
.main{
    width:100%;
    flex:1;
    -webkit-box-flex: 1;      
    -moz-box-flex: 1;         
    -ms-flex: 1;
    position:relative;
    overflow-y:scroll;
    color: #9d9da6;
    -webkit-overflow-scrolling:touch;
}
.live-tab{
    font-size:26px;
}
/*简介详情*/
.live-detail{
    box-sizing:border-box;
    padding:.2rem .3rem .3rem;
}
/*评论页面详情*/
.live-say{
    flex:1;
    -webkit-box-flex: 1;      
    -moz-box-flex: 1;         
    -ms-flex: 1;
    display:none;
    box-sizing:border-box;
    padding-left:.3rem;
    font-size:24px;
    color:#222;
}
.live-say .nosay{
    position:absolute;
    top:50%;
    left:50%;
    height:1.8rem;
    width:1.8rem;
    margin-top:-.9rem;
    margin-left:-.9rem;
    font-size:26px;
    box-sizing: border-box;
    padding-top: 1.7rem;
    color:#d9d9d9;
    text-align:center;
    background:url("../img/live_icon_noanswer@2x.png") no-repeat center;
    background-size:100%;
}
.listnull{
    display:none;
    padding:10px 0;
    text-align:center;
    font-size:23px;
    color:#d9d9d9;
}
.usersayli{
    margin-top:.24rem;
}
.usersaytitle{
    height:.6rem;
    margin-bottom:.15rem;
}
.usersaytitle img{
    width:.6rem;
    height:.6rem;
    border-radius:50%;
    margin-right:.2rem;
    float:left;
}
.username{
    font-size:26px;
    color:#d9d9d9;
}
.myself{
    color:#4ea7f2;
}
.usertime{
    display:block;
    font-size:24px;
    color:#c3c3c8;
}
.usersaycontent{
    border-bottom:1px solid #d9d9d9;
    margin-left:.8rem;
    font-size:26px;
}
.usersaycontent p{
    word-break:break-all;
    margin:0 .3rem .24rem 0;
    line-height:.54rem;
    color:#222;
}
.looksum{
    height:.72rem;
    font-size:26px;
    color:#9d9da6;
    line-height:.72rem;
}
.looksum span{
    padding:.1rem .42rem;
    background-size:.36rem;
}
.lookeye{
    background:url("../img/live_icon_eye@2x.png") no-repeat center left;
}
.lookhand{
    background:url("../img/live_icon_up@2x.png") no-repeat center left;
}
.liveaddress{
    display: -webkit-box;
    display: -webkit-flex;
    display:flex;
    -webkit-box-orient: horizontal;
    -moz-box-orient: horizontal;
    box-orient: horizontal;
    flex-direction:row;
}
.livestartime{
    flex:1;
    -webkit-box-flex: 1;      
    -moz-box-flex: 1;         
    -ms-flex: 1;
    color:#60616c;
    font-size:28px;
}
.livestartime p{
    margin-bottom:.07rem;
}
.clicklike{
    display:none;
    width:1.7rem;
    height:.6rem;
    box-sizing:border-box;
    margin-left:0.2rem;
    background:url("../img/live_button_up@2x.png") no-repeat center right;
    background-size:100%;
}
.clickover{
    background:url("../img/live_button_uped@2x.png") no-repeat center right;
    background-size:100%;
}
.live-detail-describe{
    margin-top:.18rem;
    font-size:26px;
    color:#9d9da6;
}
/*评论输入框*/
.sayinput{
    display: -webkit-box;
    display: -webkit-flex;
    display:flex;
    -webkit-box-orient: horizontal;
    -moz-box-orient: horizontal;
    box-orient: horizontal;
    /*flex-direction:row;*/
    width:100%;
    height:1.2rem;
    box-sizing:border-box;
    padding:.2rem;
    background:#efeff4;
    display:none;
}
.sayinput input{
    display:block;
    flex:1;
    -webkit-box-flex: 1;      
    -moz-box-flex: 1;         
    -ms-flex: 1;
    box-sizing:border-box;
    height:.8rem;
    border:1px solid #d9d9d9;
    border-right:none;
    padding: .2rem .2rem .2rem .6rem;
    font-size:26px;
    color:#8f8f8f;
    background:url('../img/live_icon_answer@2x.png') no-repeat 0.2rem #fff;
    background-size:.3rem;
}
.sayinput .callback{
    display:none;
}
.backsomeone .callback{
    position:absolute;
    font-size:26px;
    display:block;
    color:#8f8f8f;
    padding:.2rem;
}
.backsomeone input{
    background:none;
}
.backsomeone .callback i{
    font-style:normal;
    color:#f29c24;
}
.sayinput .send{
    display:block;
    width:1.2rem;
    height:.8rem;
    line-height:.8rem;
    color:#fff;
    font-size:26px;
    text-align:center;
    background:#9ecaef;
}
/*通道信息*/
.channels{
    width:100%;
    height:2rem;
}
.channels-title{
    box-sizing:border-box;
    height:.46rem;
    line-height:.46rem;
    text-align:left;
    text-indent:.15rem;
    border-top:1px solid #d9d9dc;
    font-size:26px;
    color:#9d9da6;
}
.swiper-container{
    height:1.54rem;
}
.swiper-wrapper{
    width:6.4rem;
    height:1.54rem;
    background:#efeff4;
}
.swiper-wrapper .swiper-slide{
    width:2.74rem;
    box-sizing:border-box;
    background:#efeff4;
    border:1px solid #b0b0b9;
    position:relative;
}
.swiper-slide img{
    width:100%;
    height:100%;
}
.swiper-slide p{
    font-size:24px;
    color:#fff;
    position:absolute;
}
.swiper-slide p span{
    padding-left:.42rem;
    background-size:.36rem;
}
.swiper-slide-look{
    top:.1rem;
    right:.1rem;
}
.swiper-slide-title{
    bottom:.1rem;
    left:.1rem;
}
.swiper-wrapper .swiper-slide-on{
    border:2px solid #e88f28;
}
.swiper-slide-onlive{
    display:none;
    position:absolute;
    width:100%;
    height:100%;
    background:url("../img/live_tag_living@2x.png") no-repeat left top;
}
.noactity{
    display:none;
    box-sizing:border-box;
    height:100%;
    width:100%;
    font-size:24px;
    text-align:center;
    color:#666;
    padding-top:40%;
}
.refesh{
    display:none;
    box-sizing:border-box;
    height:100%;
    width:100%;
    font-size:24px;
    text-align:center;
    color:#666;
    padding-top:40%;
}
